/* HTML
<section class="hidden"> 
	Code stuff here....
</section>
*/

/* CSS
.hidden {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 5%;
	height: 60vh;
	display: none;
	background-color: white;
}
*/

/*JavaScript dropout if clicked outside of 
var "yourSpecified"Element = document.getElementByClassName('hidden');
document.addEvent('click', function(event) {
	var isClickable = "yourSpecified"Element.contains(event.target);
	if (!isClickable) {
		document.getElementByClassName('hidden').style.display="none";
	}
});
*/
.hidden {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  height: 60vh;
  display: none;
  backface-visibility: hidden;
  background-color: blueviolet;
}

/*Start of example https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .exitFilterbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} /*End of example  https://www.w3schools.com/howto/howto_js_sidenav.asp*/